#blue-box{
    background-color: #0C2340;
    padding:50px 100px;
    padding-bottom: 0px;
}
#white-box{
  
    padding:50px 100px;

}
.panel {
    margin-top: 10px;
    padding: 0 18px;
    display: none;
    color: black;
    overflow: hidden;
  }
      #wave {
    position: relative;
    height: 70px;
    width: 600px;
    background: #0C2340;
  }
  #wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
  }
  #wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
  }
  .male{
     background: url(../img/cowok.png);
     background-repeat: no-repeat;
     background-size: 100%;
  }
  .female{
     background: url(../img/cewek.png);
     background-repeat: no-repeat;
     background-size: 100%;
  }
  .line-5{
      height: 2px;
      width: 50px;
      background-color: #F5AA39;
      margin-top: 10px;
  }