@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css");
@import "../css/bootstrap.min.css";
@import "style.css";

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}
#swiper-one{
    height: 640px;
    width: 100%;
    background: red
}
#swiper-one .swiper-slide{
    background-size: cover;
    background-repeat: no-repeat;
}
#bg-1{
    background: url("https://images.unsplash.com/photo-1569017388730-020b5f80a004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80")
}
#bg-2{
    background: url("https://images.unsplash.com/photo-1569017388730-020b5f80a004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80")
}
#bg-3{
    background: url("https://images.unsplash.com/photo-1569017388730-020b5f80a004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80")
}
#bg-4{
    background: url("https://images.unsplash.com/photo-1569017388730-020b5f80a004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80")
}
#swiper-one .swiper-pagination-bullet{
    width: 50px;
    height: 10px;
    border-radius: unset
}
.tp-black{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5)
}
#sambutan{
    padding:50px 100px;
    padding-bottom: 0px;
}
#m-cr1{
    display: none;
}
#w-cr1{
    display: block;
}
.cr-1 p{
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #626262;
    line-height: 50px;
}
.box-1{
    height: 10px;
    width: 70px;
    background-color: #F5AA39;
}
.cr-2{
   
}
.cr-3 p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: justify;
    color: #9B9B9B;
}
#kementrian{
    background-color: #0C2340;
    padding:50px 100px;
    padding-bottom: 0px;
}
.txt_bph{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.box-2{
    height: 5px;
    width: 70px;
    background-color: #F5AA39;
    margin-top: 10px;
}
#swiper-two{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
    width: 100%;
    margin-top: 10px;
}
#swiper-two .swiper-slide-active {
    transform: scale(1.3);
    z-index: 999;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out
}
.bg-bph-1{
    background-color: black;
}
.bg-bph-2{
    background-color: #FFFFFF;
}

.bg-bph-3{
    background-color: orange;
}

.bg-bph-4{
    background-color: blue;
}
#berita{
    padding:10px 50px 0px 100px;
    font-family: 'Poppins';
}
.txt_Berita{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: #515151;
    letter-spacing: 2px; 
}
.judul_Berita{
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.content_Berita{
    color: #3E3E3E;
}
.content_Berita .artikel_Berita{
    color: #B8B8B8;
}
.content_Berita p{
    line-height: 15px;
    font-family: 'Poppins', sans-serif;
}
.content_Berita a{
    color:#F5AA39; 
}
.content_Berita img{
    margin-top: 10px;
}
#partnership{
    background-color: #0C2340;
    padding:50px 100px;
}
#swiper-three .swiper-slide{
    height: 250px;
    width: 50px;
    border-radius: 160px;
}
.partner-1{
    background-color: black;
}
.partner-2{
    background-color: yellow;
}
.partner-3{
    background-color: blue;
}
.partner-4{
    background-color: orange;
}
.partner-5{
    background-color: green;
}
.partner-6{
    background-color: #F5AA39;
}
.partner-7{
    background-color: aquamarine;
}
.partner-8{
    background-color: #515151;
}